{% extends "layout.html" %}

{% block body %}
          <h1 class="m-2 p-2">Purchase List</h1>
          <div class="container card">
          <a href="{{ url_for('pur.add') }}" class="ml-auto btn btn-success p-2 m-2">Add Purchase</a>
              <table class="table table-striped table-sm table-bordered">
              <thead class="thead-dark">
                <tr>
                <th>S. No.</th>
                <th>Party Name</th>
                <th>Suplier Date</th>
                <th>Invoice</th>
                <th>Options</th>
                </tr>
              </thead>
              <tbody>
                {% for purchase in purchases %}
                <tr>
                <td>{{ loop.index }}</td>
                <td>{{ purchase.party_name }}</td>
                <td>{{ purchase.suplier_date }}</td>
                <td>{{ purchase.invoice }}</td>
                <td class="text-center">
                <a href="{{ url_for('pur.edit', id=purchase.id) }}" class="btn btn-success">Edit</a>
                  <a href="{{ url_for('pur.delete', id=purchase.id) }}" class="btn btn-danger">Delete</a>
                </td>
                </tr>
                {% endfor %}
              </tbody>
                  </table>
			</div>
{% endblock body %}
{% block script %}
{{ super() }}
{% endblock script %}

