{% extends "layout.html" %}

{% block body %}
			<h3 class="text-center m-2 p-2">Add Vendor Sales</h3>
<form action="" method="post">
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="input">Bill Number</label>
					<input type="number" name="" class="form-control" placeholder="Enter Bill No.">
				</div>

				<div class="form-group col-md-3">
					<label for="input">Date</label>
					<input type="date" name="" class="form-control" placeholder="YYYY-MM-DD">
				</div>

				<div class="form-group col-md-2">
					<label for="input">Vendor Name</label>
					<input type="text" name="" class="form-control" placeholder="Vendor Name">
				</div>

				<div class="form-group col-md-2">
					<label for="input">Product Name</label>
					<input type="text" name="" class="form-control" placeholder="Enter Product">
				</div>

				<div class="form-group col-md-2">
					<label for="input">Qty</label>
					<input type="number" name="" class="form-control" placeholder="Qty">
				</div>

				<div class="form-group col-md-2">
					<label for="input">Warehouse Name</label>
					<input type="text" name="" class="form-control" placeholder="location">
				</div>

					<div class="form-group col-md-12 text-center text-right mt-4">
						<input type="submit" class="btn btn-success btn-lg" value="Save">
				</div>
			</div>
			</form>
{% endblock body%}
